body {
    color:rgb(31, 30, 30);
    background: black;
    margin: 0px;
    font-family: "Ubuntu Mono", monospace;
}

header {
    border-bottom: solid 2px rgb(122, 28, 28);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228 );
}

section{
    background: rgb(255, 203, 30);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.ChamadaDeTexto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}